/*Scroll to top button*/
.scroll-to-top {
    display: block;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 2.625rem;
    height: 2.625rem;
    background-color: var(--accent);
    border-radius: 50%;
    opacity: .5;
    border: none;
}

.scroll-to-top svg {
    transform: rotate(-90deg);
}

.scroll-to-top:hover {
    background-color: var(--dark-bg);
    opacity: 1;
}

.scroll-to-top:hover g {
    color: var(--accent);
    fill: currentColor;
}