

:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
}

html,
body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.none {
    display: none !important;
}

.title-1 {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: var(--accent);
}

.title-2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}








/* Content list */


.content-list {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
    margin: 0 auto;
}

.content-list a {
    color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}








.line {
    fill: none;
    stroke: var(--accent);
    stroke-width: 7;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 8;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 8;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
}


/*Mobile*/

/*Getting rid of logo on the smallest mobile screen (Only hamburger)*/
@media (max-width: 320px) {
    .header {
        /* min-height: 42vh; */
    }

    .header-svg-abstract {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav-row {
        justify-content: flex-end;
    }

    .nav-button {
        display: block;
    }

}

@media (max-width: 620px) {
    .header {
        /* min-height: 42vh; */
    }

    .header-svg-abstract {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .logo {
        font-size: 20px;
    }

    .nav-row {
        margin: -35px 0;
    }

    .nav-row-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--black-border);
    }

    .nav-opened {
        margin: -55px 0;
    }

    .nav-opened .nav-row-top {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        padding: 5px 15px;

    }

    .nav-opened .nav-list {
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
        font-size: 30px;
        background-color: var(--black);
        animation-name: hamburger-nav;
        animation-duration: 1.2s;
        animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1);
        animation-fill-mode: backwards;

    }

    @keyframes hamburger-nav {
        0% {
            transform: translateY(100px);

        }

        100% {
            transform: translateY(0px);

        }
    }

    /* Header */

    .header {}

    .header__title {
        font-size: 20px;
    }

    .header__title strong {
        font-size: 30px;
    }

    /*Project*/

    .project {
        max-width: 270px;
    }

    .project__title {
        font-size: 19px;
    }

    .project-details__description {
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* General */

    .section {
        padding: 30px 0;
        flex: 1 0 auto;
    }

    .title-1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .title-2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    /* Footer */

    .footer {
        padding: 30px 0 20px;
        flex: 0 0 auto;
    }

    .footer__wrapper {
        row-gap: 18px;
    }

    .social__item {
        width: 28px;
    }

    .copyright {
        font-size: 12px;
    }

    /* Content list */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }
}

/* Landscape orientation*/
@media (max-width: 844px) and (max-height: 390px) {
    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .logo {
        font-size: 20px;
    }

    .nav-row {
        margin: -35px 0;
    }

    /* Header */

    .header {
        min-height: 100%;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 30px;
    }

    /*Project*/

    .project {
        max-width: 290px;
    }

    .projects {
        column-gap: 35px;
    }

    .project__title {
        font-size: 17px;
    }

    .project-details img {
        width: 300px;
    }

    .project-details__description {
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* General */

    .section {
        padding: 16px 0;
        flex: 1 0 auto;
    }

    .title-1 {
        font-size: 25px;
        margin-bottom: 16px;
    }

    .title-2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    /* Footer */

    .footer {
        padding: 30px 0 20px;
        flex: 0 0 auto;
    }

    .footer__wrapper {
        row-gap: 18px;
    }

    .social__item {
        width: 28px;
    }

    .copyright {
        font-size: 12px;
    }

    /* Content list */

    .content-list {
        row-gap: 15px;
    }

    .content-list__item {
        font-size: 16px;
    }
}