/*Mobile*/

/*Getting rid of logo on the smallest mobile screen (Only hamburger)*/
@media (max-width: 320px) {
    .nav-list {
        display: none;
    }

    .nav-row {
        justify-content: flex-end;
    }

    .nav-button {
        display: block;
    }

}

@media (max-width: 620px) {
    .nav {
        padding: 0;
    }

    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .logo {
        font-size: 20px;
    }

    .container {
        margin: -15px 0;
    }

    /* Header */

    .header {}

    .header__title {
        font-size: 20px;
    }

    .header__title strong {
        font-size: 30px;
    }

    /*Project*/

    .project {
        max-width: 270px;
    }

    .project__title {
        font-size: 19px;
    }

    .project-details__description {
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* General */

    .section {
        padding: 30px 0;
        flex: 1 0 auto;
    }

    .title-1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .title-2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    /* Footer */

    .footer {
        padding: 30px 0 20px;
        flex: 0 0 auto;
    }

    .footer__wrapper {
        row-gap: 18px;
    }

    .social__item {
        width: 28px;
    }

    .copyright {
        font-size: 12px;
    }

    /* Content list */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }
}

/* Landscape orientation*/
@media (max-width: 844px) and (max-height: 390px) {
    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .logo {
        font-size: 20px;
    }

    .container {
        margin: -15px 0;
    }

    /* Header */

    .header {
        min-height: 100%;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 30px;
    }

    /*Project*/

    .project {
        max-width: 290px;
    }

    .projects {
        column-gap: 35px;
    }

    .project__title {
        font-size: 17px;
    }

    .project-details img {
        width: 300px;
    }

    .project-details__description {
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* General */

    .section {
        padding: 16px 0;
        flex: 1 0 auto;
    }

    .title-1 {
        font-size: 25px;
        margin-bottom: 16px;
    }

    .title-2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    /* Footer */

    .footer {
        padding: 30px 0 20px;
        flex: 0 0 auto;
    }

    .footer__wrapper {
        row-gap: 18px;
    }

    .social__item {
        width: 28px;
    }

    .copyright {
        font-size: 12px;
    }

    /* Content list */

    .content-list {
        row-gap: 15px;
    }

    .content-list__item {
        font-size: 16px;
    }
}
