/* Nav */

.nav {
    background-color: var(--dark-bg);
    color: var(--header-text);
    padding: 20px 0;
    border-bottom: 1px solid var(--black-border);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    column-gap: 30px;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 24px;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.nav-list__item {}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

/* .nav-list__link:active {
    position: relative;
    top: .5px;
} */

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    background-color: var(--accent);
    width: 100%;
    height: 2px;
}

.nav-button {
    display: none;
}